.rowContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.baseRow {
  width: 100%;
  position: relative;
  height: 100%;
}

.baseCol {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #ebebeb;
  position: relative;
}

.baseColContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
