.globalBuilderMenu {
    width: var(--width);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(243, 243, 243);
    margin-top: 50px;
    padding: 0px 35px;
    position: relative;
  }
  
  .inputFieldContainer {
    padding-top: 15px;
  }