:root {
  --width: 1400px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #121212;
  width: calc(var(--width) + 5000px);
  height: 5000px;
  overflow: scroll;
  padding: 300px;
  transition: all 0.4s ease;
}

/* ########## BUILDER ########## */

.paper {
  width: var(--width);
  height: calc(var(--width) * 1.41451);
  background-color: #ffffff;
  margin-block: 10px 50px;
  padding: 35px;
}

/* ########## END BUILDER ########## */
