:root {
  --width: 1400px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #121212;
  width: calc(var(--width) + 5000px);
  overflow: scroll;
  padding: 300px;
  transition: all 0.4s ease;
}

.pagesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding: 2000px;
  transition: all 0.4s ease;
  gap: 100px;
  position: relative;
}

.focusInput {
  position: absolute;
  top: 30%;
  left: 35%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 0;
  pointer-events: none;
}
