:root {
  --width: 1400px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #121212;
  width: calc(var(--width) + 5000px);
  height: 5000px;
  overflow: scroll;
  padding: 300px;
  transition: all 0.4s ease;
}

/* ########## GLOBAL MENU ########## */

.globalBuilderMenu {
  width: var(--width);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(243, 243, 243);
  margin-top: 50px;
  padding: 0px 35px;
  position: relative;
}

.inputFieldContainer {
  padding-top: 15px;
}

.focusInput {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 0;
  pointer-events: none;
}

/* ########## END GLOBAL MENU ########## */

/* ########## SETTINGS MENU ########## */

.settingsMenu {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.settingComponent {
  background-color: rgb(243, 243, 243);
  border-radius: 5px;
  width: 45px;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(93, 93, 93);
  margin-top: 10px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.4s ease;
  position: relative;
}

.settingComponent:hover {
  background-color: rgb(255, 255, 255);
}

.modalSection .inputLabel {
  font-size: 14px;
}

.modalSection .inputLabel p {
  margin: 0;
  margin-bottom: 4px;
}

/* Media query xs */
@media (max-width: 600px) {
  .settingsMenu {
    bottom: 5px;
    right: 5px;
  }
}

/* ########## END SETTINGS MENU ########## */

/* ########## BUILDER ########## */

.paper {
  width: var(--width);
  height: calc(var(--width) * 1.41451);
  background-color: #ffffff;
  margin-block: 10px 50px;
  padding: 35px;
}

.rowsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.rowContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
/* ########## END BUILDER ########## */

/* ########## BUTTONS MENU ########## */

.menuRowButtonsContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0px;
  right: -30px;
  z-index: 2;
}

.menuColButtonsContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.menuIcons {
  font-size: 25px;
  color: rgb(165, 165, 165);
  cursor: pointer;
  transition: all 0.4s ease;
}

.menuIcons:hover {
  color: rgb(0, 0, 0);
}

.menuIconsDelete {
  font-size: 24px;
  color: rgb(165, 165, 165);
  cursor: pointer;
  transition: all 0.4s ease;
}

.menuIconsDelete:hover {
  color: rgb(245, 20, 20);
}

/* ########## END BUTTONS MENU ########## */

/* ########## ROW SETTING MODAL ########## */

.modalSection {
  padding: 20px;
}

.modalSection p {
  margin-block: 5px 15px;
  font-size: 14px;
}

.buttonContainer {
  text-align: center;
  margin-bottom: 20px;
}

/* ########## END ROW SETTING MODAL ########## */

/* ########## BASE ROW/COL STYLE ########## */

.baseRow {
  border: 1px dashed black;
  width: 100%;
  position: relative;
  height: 100%;
}

.baseCol {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #ebebeb;
  position: relative;
}

.baseColContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* ########## END BASE ROW/COL STYLE ########## */
